<!DOCTYPE html>
<html>
	<head>
		<script>
			// const express = require('express');
			// 	const app = express();
			// 	const mssql = require("mysql");
				
			// 	// Get request
			// app.get('/', function (req, res) {

			// 	// C	onfig your database credential
			// 	const config = {
			// 		user: 'root',
			// 		password: 'root',
			// 		server: 'localhost',
			// 		database: 'flask'
			// 	};
			
		// 	Function to check Whether both passwords
		// 	is same or not.
			function checkPassword(form) {
				password = form.password.value;
				password2 = form.password2.value;

				// If password not entered
				if (password == '')
					alert ("Please enter Password");
					
				// If confirm password not entered
				else if (password2 == '')
					alert ("Please enter confirm password");
					
				// If Not same return False.	
				else if (password != password2) {
					alert ("\nPassword did not match: Please try again...")
					return false;
				}
				
				// If same return True.
				else{
					alert("Password Match: Welcome ")
					return true;
				}
			}
		</script>
		<style>
			.gfg {
				font-size:40px;
				color:rgb(26, 29, 26);
				font-weight:bold;
				text-align:center;
			}
		</style>
	</head>
	<body>
		<div class = "gfg">Plase Enter new password</div>
    <br>
	<!-- <form action="http://localhost:4000/new_password" method=post" onSubmit = "return checkPassword(this)"> -->
		<form action="/new_password" method="post" onSubmit = "return checkPassword(this)">
		<table border = 1 align = "center">
			<tr>
				<!-- Enter Password. -->
				<td>Email:</td>
				<td><input type = email name = email size = 25</td>
			</tr>
			<tr>
				<!-- Enter Password. -->
				<td>Password:</td>
				<td><input type = password name = password size = 25</td>
			</tr>
			<tr>
				<!-- To Confirm Password. -->
				<td>Confirm Password:</td>
				<td><input type = password name = password2 size = 25></td>
			</tr>
			<tr>
				<td colspan = 2 align = right>
				<!-- <input type = submit value = "Submit"></td> -->
				<button onclick="myFunction()">Submit</button>

				<script>
				function myFunction() {
				location.replace("http://127.0.0.1:4000/new_password/")
				}
				</script>
			</tr>
		</table>
		</form>
	</body>
</html>					
